
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

main {
/*  background-color: black;*/
  background-image: url("img/haikei.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.bg-black {
  background-color: black!important;
}

.card-img-top {
  object-fit: contain;
}

.index-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link:focus, .nav-link:hover {
  color: pink !important;
}

.btn-original {
  color: white;
  background-color: black;
  border-color: black;
  margin: 4px;
  padding: 0 8px !important;
  display: -webkit-inline-box;
}

@media screen and (max-width: 768px) {

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 16rem;
    /*background-color: #777;*/
    background-color: black;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 16rem;
  }

  /* custom ootuka */
  .carousel-column{
    margin:0 auto;
  }
  .carousel,
  .carousel-inner {
    height: 16rem;
  }

  .carousel img {
    object-fit: contain;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 16rem;
  }

  .schedule_frame {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
@media screen and (min-width: 768px) {

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    /*background-color: #777;*/
    background-color: black;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* custom ootuka */
  .carousel-column{
    margin:0 auto;
  }
  .carousel,
  .carousel-inner {
    height: 32rem;
  }

  .carousel img {
    object-fit: contain;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 32rem;
  }

  .schedule_frame {
    margin-bottom: 10px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    overflow: hidden;
  }
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}

.font-change {
  font-size: 1.4rem;
  color: #94821B;
  font-family: clarendon-w01-medium-692107,clarendon-w02-medium-693834,serif;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.google-maps {
    position: relative;
    width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
    height: 0;
    padding-bottom: 56.25%;    /* padding-topでもOK */
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    /* 必要であれば!importantを付けてください */
    height: 100%;    /* 必要であれば!importantを付けてください */
}
